/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap');

/* Padding/Margin spacing */

body {
    font-size: 100%;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

#logoBox {
    border-bottom-right-radius: 5% 10%;
}

#diceRoller {
    margin: 6% 2% 6% -2%;
    max-height: 100%;
    width: auto;
}

#changing {
    padding: 6% 0;
    height: auto;
    width: 100%;
}

#number {
    font-size: 7rem;
    font-family: 'Uncial Antiqua', cursive;
}

#roll {
    margin: 4.5% 0 8.5% 0;
}

/* Border */

.no-round-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5% 40%;
    border-top-right-radius: 5% 40%;
}

/* Buttons */

.background {
    background-color: darkolivegreen;
}

.height {
    padding: 3vh 0;
}